# PyTorch ve YOLOv5 için temel gereksinimler
torch>=1.7
torchvision>=0.8
numpy>=1.18.5
opencv-python>=4.5.3
pandas>=1.1.4
matplotlib>=3.2.2
scipy>=1.4.1
seaborn>=0.11.0
PyYAML>=5.3.1
tqdm>=4.41.0
requests>=2.23.0

# Ekstra kütüphaneler
albumentations>=0.5.2  # Veri artırma
tensorboard>=2.4.1  # Eğitim izleme
scikit-learn>=0.24.2  # Model değerlendirme
thop  # FLOP hesaplama

# Eğer notebook kullanıyorsanız:
jupyter>=1.0.0

# Yardımcı kütüphaneler
pillow>=8.0.1  # Görüntü işleme
Cython>=0.29.21  # Performans için
